{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock%}

{% block body %}
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>This is my first flask web app that I made as a weekend project to learn a little flask. This feels amazing. Now I think I can use flask for some applications in Machine Learning. I am a Data Scientist. Checkout my <a href="/posts">Blog Post</a>.</p>
      </div>
    </div>
  </main>
 {% endblock %}


 